entrypoint = "index.html"
modules = ["nodejs-20", "web"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run build && npm run preview"]
deploymentTarget = "static"
publicDir = "dist"

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx,*.json}"
syntax = "javascript"

[languages.javascript.languageServer]
start = "typescript-language-server --stdio"

[[ports]]
localPort = 5173
externalPort = 80
 