modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run preview"]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "npm install && npm run build"]

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx,*.json}"
syntax = "javascript"

[languages.javascript.languageServer]
start = "typescript-language-server --stdio"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5173
externalPort = 80

[workflows]
runButton = "Mobile Dev Server"

[[workflows.workflow]]
name = "Mobile Dev Server"
author = 36293822
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
